@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
}

html,
body {
  @apply bg-zinc-950 text-zinc-200;

  @media (prefers-color-scheme: light) {
    @apply bg-white text-zinc-900;
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
